* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body {
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    line-height: 1.5;
}
.fixed-left {
    width: 23.7%;
    left: 0px;
    position: fixed;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-width: 2px;
    border-style: solid;
    border-color: red;
    border-image: initial;
    gap: 13.2%;
}
.logo {
    display: block;
    width: 28%;
    height: 5vh;
    margin-left: 27.2%;
    text-align: center;
    margin-top: 27px;
}
h1 {
    font-weight: 400;
    font-size: 36px;
    margin: 10px 0px;
}
h1 {
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 4px;
    display: block;
}
.navbar {
    height: 48%;
    width: 80%;
    margin-left: 20%;
    margin-top: 1.8px;
    border-width: 2px;
    border-style: solid;
    border-color: greenyellow;
    border-image: initial;
}
ul {
    display: block;
    list-style-type: none;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: bolder;
    border-width: 1px;
    border-style: solid;
    border-color: royalblue;
    border-image: initial;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}
li {
    color: rgb(117, 117, 117);
    padding: 10.6px 19px;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}
.other-info {
    width: 80%;
    margin-left: 20.7%;
    margin-top: -30px;
    height: 20vh;
    border-width: 1px;
    border-style: solid;
    border-color: darkred;
    border-image: initial;
}
.body {
    width: 69.8%;
    margin-left: 23.7%;
    height: 600vh;
    border-width: 2px;
    border-style: solid;
    border-color: goldenrod;
    border-image: initial;
}
.header {
    width: 100%;
    height: 12.4vh;
    display: flex
;
    flex-direction: row;
    border-width: 1px;
    border-style: solid;
    border-color: pink;
    border-image: initial;
    gap: 80%;
}
h2 {
    font-weight: lighter;
    font-size: 24px;
    display: inline-block;
    height: 50%;
    margin-top: 23px;
    margin-left: 15px;
    border-width: 1px;
    border-style: solid;
    border-color: burlywood;
    border-image: initial;
}
.div {
    height: 50%;
    width: 25%;
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    margin-left: 35px;
    border-width: 1px;
    border-style: solid;
    border-color: brown;
    border-image: initial;
    gap: 23px;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px / 1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.banner {
    width: 100%;
    height: 94.3vh;
    margin-top: 2px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-image: initial;
}
img {
    width: 98.2%;
    margin-left: 2%;
    height: 100%;
}
.word {
    display: block;
    position: relative;
    height: 35vh;
    z-index: 1;
    width: 60%;
    margin-left: 46px;
    margin-top: -575.5px;
    letter-spacing: 0px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(218, 40, 40);
    border-image: initial;
}
.new {
    font-size: 64px;
    display: inline-block;
    color: white;
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    letter-spacing: 0px;
}
.col {
    display: block;
    font-size: 36px;
    color: white;
    font-family: Montserrat, sans-serif;
    padding-top: 25px;
    font-weight: lighter;
    letter-spacing: 0px;
}
.button {
    height: 8vh;
    width: 28%;
    font-size: 18px;
    font-family: Montserrat, sans-serif;
    background-color: rgb(0, 0, 0);
    color: white;
    margin: 18px 18px 18px 0px;
    border-width: initial;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-image: initial;
}
h3 {
    display: inline-block;
    color: rgb(117, 117, 117);
    font-family: Montserrat, sans-serif;
    margin: 19px;
}
.first_row {
    display: flex
;
}
.margin {
    margin-left: 20px;
    height: 70%;
}
.opacity {
    filter: grayscale(75%);
}
img {
    width: 98.2%;
    margin-left: 2%;
    height: 100%;
}
.middle {
    margin-top: 10px;
    margin-left: 5px;
}
.Second_row {
    display: flex;
    margin-top: 20px;
}
.subscription {
    background-color: rgb(0, 0, 0);
    color: white;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-left: 10px;
    margin-top: 16px;
}
.margin-16 {
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 16px;
}
input {
    width: 100%;
    display: block;
    padding: 8px;
    font: inherit;
}
.subscribe_button {
    background-color: rgb(244, 67, 54);
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 12px;
    margin: 16px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    font: inherit;
}
.subscribe_button:hover {
    background-color: lightgray;
    color: rgb(0, 0, 0);
}
footer{
    color:black;
    background-color: lightgray;
}
form{
    width: 30%;
    border: 2px solid black;

}
.button-footer{
    padding: 12px;
    width:100%;
    color: white;
    background-color: black;
}

/* li:hover {
    background-color: rgb(117, 117, 117);
    color: rgb(0, 0, 0);
    cursor: pointer;
}
li {
    color: rgb(117, 117, 117);
    padding: 10.6px 19px;
}
.w3-light-grey {
    color: #000 !important;
    background-color: #f1f1f1 !important;
}
.w3-padding-64 {
    padding-top: 64px !important;
    padding-bottom: 64px !important;
}
.w3-center {
    text-align: center !important;
}
.w3-small {
    font-size: 12px !important;
}
footer{
    display: block;
}
.w3-row-padding{
    padding:0 8px;
}
.w3-row-padding>.w3-col {
    padding: 0 8px;
}
.w3-col.s4 {
    width: 33.33333%;
}
.w3-col {
    float: left;
    width: 100%;
}
h4, h5, h6 {
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0;
}
h4 {
    font-size: 20px;
}
.w3-border {
    border: 1px solid #ccc !important;
}
.w3-input {
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
}
input {
    font: inherit;
    margin: 0;
}
.w3-black {
    color: #fff !important;
    background-color: #000 !important;
}
.w3-hover-black:hover {
    color: #fff !important;
    background-color: #000 !important;
}

.w3-block {
    display: block;
    width: 100%;
}

.w3-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

button {
    font: inherit;
    margin: 0;
    text-transform: none;
}
a{
    color: inherit;
    background-color: transparent;
}
.w3-justify {
    text-align: justify !important;
}

.fa-fw {
    width: 1.28571429em;
    text-align: center;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px / 1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.w3-large {
    font-size: 18px !important;
}
.w3-hover-opacity:hover {
    opacity: 0.60;
}
.w3-opacity {
    opacity: 0.60;
}
.w3-padding-24 {
    padding-top: 24px !important;
    padding-bottom: 24px !important;
} */